streamlit==1.28.2  # Reemplaza con la versión de Streamlit que estés usando
pandas==2.1.3      # Reemplaza con la versión de Pandas que estés usando
numpy==1.26.2      # Reemplaza con la versión de NumPy que estés usando
matplotlib==3.8.2  # Reemplaza con la versión de Matplotlib que estés usando